.header-color {
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.drawer {
    background: #283c86;
    color: aliceblue;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}

.social i {
    color: aliceblue;
    font-size: 1.5em;
    padding: 0em 0em .5em 0em;
}